<div class="grid">
    <div class="col-12">

        <h4>New Scavenger Hunt</h4>
        <div class="card">
            <h5>Title</h5>
            <div class="col-12 md:col-6">
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-pencil"></i>
                    </p-inputGroupAddon>
                    <input id="title" pInputText placeholder="Example: Freshman Campus Burren Tour"
                           type="text"/>
                </p-inputGroup>
            </div>

            <h5>Description</h5>
            <div class="col-12 md:col-6">
                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-pencil"></i>
                    </p-inputGroupAddon>
                    <input pInputText placeholder="A fancy description about your adventure here" type="text"/>
                </p-inputGroup>
            </div>
        </div>

        <div class="card">
            <h5>Stations</h5>

            <div class="card">
                <h6>Station 1</h6>

                <div class="col-12 md:col-6">
                    <p-inputGroup>
                        <p-inputGroupAddon>
                            <i class="pi pi-pencil"></i>
                        </p-inputGroupAddon>
                        <input id="name" pInputText placeholder="Name of Station"
                               type="text"/>
                    </p-inputGroup>
                </div>

                <div class="col-12 md:col-6">
                    <p-inputGroup>
                        <p-inputGroupAddon>
                            <i class="pi pi-pencil"></i>
                        </p-inputGroupAddon>
                        <input id="lat" pInputText placeholder="Latitude"
                               type="text"/>
                    </p-inputGroup>
                </div>

                <div class="col-12 md:col-6">
                    <p-inputGroup>
                        <p-inputGroupAddon>
                            <i class="pi pi-pencil"></i>
                        </p-inputGroupAddon>
                        <input id="lon" pInputText placeholder="Longitude"
                               type="text"/>
                    </p-inputGroup>
                </div>

                <a>TODO: TASKS HERE</a>

            </div>

            <div class="card">
                <h6>Station 2</h6>
            </div>

            <div class="flex align-items-center justify-content-center border-round m-2">
                <p-button icon="pi pi-plus" label="Add station"></p-button>
            </div>
        </div>

    </div>
</div>
