<div class="flex justify-content-center flex-wrap">
    <div class="flex align-items-center justify-content-center border-round m-2">
        <p-button (onClick)="addNewHunt()" icon="pi pi-plus" label="Create new scavenger hunt"></p-button>
    </div>
</div>

<div class="grid grid-nogutter">
    <app-scavenger-hunt-tile
        *ngFor="let hunt of hunts"
        [huntName]="hunt.name"
        [numberOfParticipants]="hunt.participants.length"
        [numberOfStations]="hunt.stations.length">
    </app-scavenger-hunt-tile>
</div>
