@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:wght@400;600&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background: #f4f4f4;
  color: #222;
  transition: background 0.3s ease, color 0.3s ease;
}

body.dark-mode {
  background: #121212;
  color: #e0e0e0;
}

body.dark-mode select {
  background: #222;
  color: white;
  border: 1px solid #555;
}

/* Text font and styles */
body {
  font-family: 'Sour Gummy', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}
body.dark-mode {
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212;
}

h1, h2, h3 {
  font-weight: 600;
}

.sour-gummy-textfont {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

button, .hunt-card {
  font-family: 'Sour Gummy', sans-serif;
}
