{
    "singleAttributePerLine": true,
    "singleQuote": true,
    "semi": true,
    "useTabs": true,
    "tabWidth": 4,
    "printWidth": 140,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "always",
    "trailingComma": "none",
    "endOfLine": "auto",
    "overrides": [
        {
            "files": [".html, .scss"],
            "options": {
                "printWidth": 80,
                "proseWrap": "always"
            }
        }
    ]
}
